<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  <body>
    <section class="container">
      <div class="row mt-5 mb-3">
        <div class="col">
          <h1 class="text-center">Contacter l'equipe</h1>
        </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              <h3 class="text-center border-bottom pb-4 mb-4">To contact me : </h3>
              <B>first_name :</B> <%= User  .first_name %><br>
              <B>last name :</B> <%= User.first.last_name %><br>
              <B>email :</B> <%= User.first.email %><br>
              <B>age :</B> <%= User.first.age %><br>
              <B>city :</B> <%= User.first.city.name %><br>
              <B>description :</B> <%= User.first.description %>
            </p>
            <small class="text-muted">Lucas, Octobre 2019</small>
          </div>
        </div>
        </div>
      </section>
  </body>
</html>
