<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <section class="container">
    <div class="row mt-5 mb-3">
      <div class="col">
        <h1 class="text-center">Bonjour</h1>
        <br><br>
        <h2 class="text-center">Voici tous les gossips, n'hesite pas a les lire :)</h2>
      </div>
    </div>

      <% Gossip.all.each_with_index do |gossip, index| %>
      <div class="card-deck">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">
            <%= gossip.content %><br/>
          </p>
          <small class="text-muted"><%= gossip.user.first_name %></small>
          <form action="/accueil/<%=index+1%>" method="post">
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            <button type="submit" class="btn btn-primary" name="print" value="<%=index+1%>">Show</button>
          </form>
        </div>
      </div>
      </div>
      <%end%>


  </section>
  </body>
</html>
